In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df_nyc_requests = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

/home/satheesh/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
df_nyc_requests.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [12]:
df_nyc_requests.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01-01-16 0:55,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01-01-16 1:26,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01-01-16 4:51,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01-01-16 7:43,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01-01-16 3:24,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [13]:
df_nyc_requests.shape

(300698, 53)

In [14]:
df_nyc_requests.isnull()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300693,False,False,True,False,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
300694,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
300695,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
300696,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
300697,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False

In [15]:
#counting the null values that have been observed per column
df_nyc_requests.isnull().sum()

Unique Key                             0
Created Date                           0
Closed Date                         2164
Agency                                 0
Agency Name                            0
Complaint Type                         0
Descriptor                          5914
Location Type                        131
Incident Zip                        2615
Incident Address                   44410
Street Name                        44410
Cross Street 1                     49279
Cross Street 2                     49779
Intersection Street 1             256840
Intersection Street 2             257336
Address Type                        2815
City                                2614
Landmark                          300349
Facility Type                       2171
Status                                 0
Due Date                               3
Resolution Description                 0
Resolution Action Updated Date      2187
Community Board                        0
Borough                                0
X Coordinate (State Plane)          3540
Y Coordinate (State Plane)          3540
Park Facility Name                     0
Park Borough                           0
School Name                            0
School Number                          0
School Region                          1
School Code                            1
School Phone Number                    0
School Address                         0
School City                            0
School State                           0
School Zip                             1
School Not Found                       0
School or Citywide Complaint      300698
Vehicle Type                      300698
Taxi Company Borough              300698
Taxi Pick Up Location             300698
Bridge Highway Name               300455
Bridge Highway Direction          300455
Road Ramp                         300485
Bridge Highway Segment            300485
Garage Lot Name                   300698
Ferry Direction                   300697
Ferry Terminal Name               300696
Latitude                            3540
Longitude                           3540
Location                            3540
dtype: int64

## Conclusion #1:

It is evident that the columsn "School or Citywide Complaint", "Vehicle Type", "Taxi Company Borough", "Taxi Pick Up Location", "Garage Lot Name" have no data which can be used for analysis. This is because all of their values are null

The other columns such as "Ferry Direction", "Ferry Terminal Name" have only 1 or 2 records

It's safe to assume that these columns can be dropped and we should be able to proceed with our data analysis

##### Analysis around Bridge, Landmark and Road ramp for meaningful data

The data from the columns "Bridge Highway Name", "Bridge Highway Direction", "Bridge Highway segment", "Landmark", "Road ramp" all have data that is less than 1% of data. So it woul be ideal to drop these columns

## Dropping the columns described above

In [17]:
df_nyc_requests.drop(['Landmark', 'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 
                     'Taxi Pick Up Location', 'Bridge Highway Name', 'Bridge Highway Direction', 
                     'Road Ramp', 'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction', 
                     'Ferry Terminal Name'], axis='columns', inplace=True)

In [19]:
#verifying the shape after dropping the columns
df_nyc_requests.shape

(300698, 41)

In [20]:
df_nyc_requests.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Facility Type', 'Status', 'Due Date', 'Resolution Description',
       'Resolution Action Updated Date', 'Community Board', 'Borough',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name', 'School Number',
       'School Region', 'School Code', 'School Phone Number', 'School Address',
       'School City', 'School State', 'School Zip', 'School Not Found',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [22]:
#verifying the first data point after dropping columns
df_nyc_requests.iloc[0]

Unique Key                                                                 32310363
Created Date                                                 12/31/2015 11:59:45 PM
Closed Date                                                           01-01-16 0:55
Agency                                                                         NYPD
Agency Name                                         New York City Police Department
Complaint Type                                              Noise - Street/Sidewalk
Descriptor                                                         Loud Music/Party
Location Type                                                       Street/Sidewalk
Incident Zip                                                                  10034
Incident Address                                                71 VERMILYEA AVENUE
Street Name                                                        VERMILYEA AVENUE
Cross Street 1                                                       ACADEMY STREET
Cross Street 2                                                      WEST 204 STREET
Intersection Street 1                                                           NaN
Intersection Street 2                                                           NaN
Address Type                                                                ADDRESS
City                                                                       NEW YORK
Facility Type                                                              Precinct
Status                                                                       Closed
Due Date                                                              01-01-16 7:59
Resolution Description            The Police Department responded and upon arriv...
Resolution Action Updated Date                                        01-01-16 0:55
Community Board                                                        12 MANHATTAN
Borough                                                                   MANHATTAN
X Coordinate (State Plane)                                              1.00541e+06
Y Coordinate (State Plane)                                                   254678
Park Facility Name                                                      Unspecified
Park Borough                                                              MANHATTAN
School Name                                                             Unspecified
School Number                                                           Unspecified
School Region                                                           Unspecified
School Code                                                             Unspecified
School Phone Number                                                     Unspecified
School Address                                                          Unspecified
School City                                                             Unspecified
School State                                                            Unspecified
School Zip                                                              Unspecified
School Not Found                                                                  N
Latitude                                                                    40.8657
Longitude                                                                  -73.9235
Location                                    (40.86568153633767, -73.92350095571744)
Name: 0, dtype: object

In [23]:
#checking if school name, number region etc is always unspecified
df_nyc_requests["School Name"].value_counts()

Unspecified                        300697
Alley Pond Park - Nature Center         1
Name: School Name, dtype: int64

In [24]:
df_nyc_requests["School Number"].value_counts()

Unspecified    300697
Q001                1
Name: School Number, dtype: int64

In [25]:
df_nyc_requests["School Region"].value_counts()

Unspecified    300697
Name: School Region, dtype: int64

In [26]:
df_nyc_requests["School Code"].value_counts()

Unspecified    300697
Name: School Code, dtype: int64

In [27]:
df_nyc_requests["School Phone Number"].value_counts()

Unspecified    300697
7182176034          1
Name: School Phone Number, dtype: int64

In [28]:
df_nyc_requests["School Address"].value_counts()

Unspecified                                     300697
Grand Central Parkway, near the soccer field         1
Name: School Address, dtype: int64

In [29]:
df_nyc_requests["School City"].value_counts()

Unspecified    300697
QUEENS              1
Name: School City, dtype: int64

In [30]:
df_nyc_requests["School State"].value_counts()

Unspecified    300697
NY                  1
Name: School State, dtype: int64

In [31]:
df_nyc_requests["School Zip"].value_counts()

Unspecified    300697
Name: School Zip, dtype: int64

In [33]:
#checking for the type of crime that is committed near/ at a school
school_complaints = df_nyc_requests[df_nyc_requests["School Name"]!="Unspecified"]
school_complaints

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,School Code,School Phone Number,School Address,School City,School State,School Zip,School Not Found,Latitude,Longitude,Location
283132,30427220,04/18/2015 09:44:55 AM,05-02-15 10:35,NYPD,New York City Police Department,Animal in a Park,Animal Waste,Park,NaN,NaN,...,NaN,7182176034,"Grand Central Parkway, near the soccer field",QUEENS,NY,NaN,N,NaN,NaN,NaN

In [40]:
school_complaints.iloc[0]

Unique Key                                                                 30427220
Created Date                                                 04/18/2015 09:44:55 AM
Closed Date                                                          05-02-15 10:35
Agency                                                                         NYPD
Agency Name                                         New York City Police Department
Complaint Type                                                     Animal in a Park
Descriptor                                                             Animal Waste
Location Type                                                                  Park
Incident Zip                                                                    NaN
Incident Address                                                                NaN
Street Name                                                                     NaN
Cross Street 1                                                                  NaN
Cross Street 2                                                                  NaN
Intersection Street 1                                                           NaN
Intersection Street 2                                                           NaN
Address Type                                                                    NaN
City                                                                         QUEENS
Facility Type                                                                   NaN
Status                                                                       Closed
Due Date                                                              05-02-15 9:44
Resolution Description            The condition was determined to be an issue ap...
Resolution Action Updated Date                                       05-02-15 10:35
Community Board                                                       0 Unspecified
Borough                                                                 Unspecified
X Coordinate (State Plane)                                                      NaN
Y Coordinate (State Plane)                                                      NaN
Park Facility Name                                  Alley Pond Park - Nature Center
Park Borough                                                            Unspecified
School Name                                         Alley Pond Park - Nature Center
School Number                                                                  Q001
School Region                                                                   NaN
School Code                                                                     NaN
School Phone Number                                                      7182176034
School Address                         Grand Central Parkway, near the soccer field
School City                                                                  QUEENS
School State                                                                     NY
School Zip                                                                      NaN
School Not Found                                                                  N
Latitude                                                                        NaN
Longitude                                                                       NaN
Location                                                                        NaN
Name: 283132, dtype: object

## Conclusion #2

There is only 1 occurence of a complaint which is associated with a school in Queens. It's safe to assume that the New York Police department has been keeping all school areas well guarded/ protected

In [34]:
#Examining the Unspecified for Park Facility Name
df_nyc_requests["Park Facility Name"].value_counts()

Unspecified                        300697
Alley Pond Park - Nature Center         1
Name: Park Facility Name, dtype: int64

In [36]:
#keeping this as a separate data set for understanding the nature of the complaint
park_complaints = df_nyc_requests[df_nyc_requests["Park Facility Name"]!= "Unspecified"]

In [38]:
park_complaints.iloc[0]

Unique Key                                                                 30427220
Created Date                                                 04/18/2015 09:44:55 AM
Closed Date                                                          05-02-15 10:35
Agency                                                                         NYPD
Agency Name                                         New York City Police Department
Complaint Type                                                     Animal in a Park
Descriptor                                                             Animal Waste
Location Type                                                                  Park
Incident Zip                                                                    NaN
Incident Address                                                                NaN
Street Name                                                                     NaN
Cross Street 1                                                                  NaN
Cross Street 2                                                                  NaN
Intersection Street 1                                                           NaN
Intersection Street 2                                                           NaN
Address Type                                                                    NaN
City                                                                         QUEENS
Facility Type                                                                   NaN
Status                                                                       Closed
Due Date                                                              05-02-15 9:44
Resolution Description            The condition was determined to be an issue ap...
Resolution Action Updated Date                                       05-02-15 10:35
Community Board                                                       0 Unspecified
Borough                                                                 Unspecified
X Coordinate (State Plane)                                                      NaN
Y Coordinate (State Plane)                                                      NaN
Park Facility Name                                  Alley Pond Park - Nature Center
Park Borough                                                            Unspecified
School Name                                         Alley Pond Park - Nature Center
School Number                                                                  Q001
School Region                                                                   NaN
School Code                                                                     NaN
School Phone Number                                                      7182176034
School Address                         Grand Central Parkway, near the soccer field
School City                                                                  QUEENS
School State                                                                     NY
School Zip                                                                      NaN
School Not Found                                                                  N
Latitude                                                                        NaN
Longitude                                                                       NaN
Location                                                                        NaN
Name: 283132, dtype: object

The complaint from the school is of the park and there are no other part related complaints where the facily name is explicitly mentioned

## Examining distribution of complaints

In [ ]:
#Distribution by city
df_nyc_requests[""]